[class^='icon-'],
[class*=' icon-'] {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;

	/* fix buttons height */
	line-height: 1em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
}

.icon-sf-arrow-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe800;&nbsp;');
}
.icon-sf-menu-order {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe801;&nbsp;');
}
.icon-sf-lock-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe802;&nbsp;');
}
.icon-sf-ok {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe803;&nbsp;');
}
.icon-sf-menu-quality {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe804;&nbsp;');
}
.icon-sf-cancel {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe805;&nbsp;');
}
.icon-sf-search {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe806;&nbsp;');
}
.icon-sf-menu-common {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe807;&nbsp;');
}
.icon-sf-search-on {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe808;&nbsp;');
}
.icon-sf-lock-open-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe809;&nbsp;');
}
.icon-sf-select-triangle {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe80a;&nbsp;');
}
.icon-sf-trash {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe80b;&nbsp;');
}
.icon-sf-col-add {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe80c;&nbsp;');
}
.icon-sf-right-thick {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe80d;&nbsp;');
}
.icon-sf-navi {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe80e;&nbsp;');
}
.icon-sf-menu-expand {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe80f;&nbsp;');
}
.icon-sf-menu-reduce {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe810;&nbsp;');
}
.icon-sf-status {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe811;&nbsp;');
}
.icon-sf-human {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe812;&nbsp;');
}
.icon-sf-info {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe813;&nbsp;');
}
.icon-sf-notice {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe814;&nbsp;');
}
.icon-sf-plus-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe815;&nbsp;');
}
.icon-sf-arrow-left {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe816;&nbsp;');
}
.icon-sf-error-fill-1 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe817;&nbsp;');
}
.icon-sf-close {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe818;&nbsp;');
}
.icon-sf-caret-left {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe819;&nbsp;');
}
.icon-sf-caret-right {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe81a;&nbsp;');
}
.icon-sf-setting {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe81b;&nbsp;');
}
.icon-sf-plus {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe81c;&nbsp;');
}
.icon-sf-minus {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe81d;&nbsp;');
}
.icon-sf-arrow-right {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe81e;&nbsp;');
}
.icon-sf-arrow-up {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe81f;&nbsp;');
}
.icon-sf-bell {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe820;&nbsp;');
}
.icon-sf-caret-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe821;&nbsp;');
}
.icon-sf-caret-up {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe822;&nbsp;');
}
.icon-sf-check {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe823;&nbsp;');
}
.icon-sf-circle-bottom-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe824;&nbsp;');
}
.icon-sf-circle-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe825;&nbsp;');
}
.icon-sf-circle-close {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe826;&nbsp;');
}
.icon-sf-circle-close-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe827;&nbsp;');
}
.icon-sf-circle-left-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82a;&nbsp;');
}
.icon-sf-circle-left {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82b;&nbsp;');
}
.icon-sf-circle-plus-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82c;&nbsp;');
}
.icon-sf-circle-plus {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82d;&nbsp;');
}
.icon-sf-circle-confirm-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82e;&nbsp;');
}
.icon-sf-circle-confirm {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82f;&nbsp;');
}
.icon-sf-circle-right-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe830;&nbsp;');
}
.icon-sf-circle-right {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe831;&nbsp;');
}
.icon-sf-circle-up-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe832;&nbsp;');
}
.icon-sf-circle-up {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe833;&nbsp;');
}
.icon-sf-error-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe834;&nbsp;');
}
.icon-sf-dot {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe835;&nbsp;');
}
.icon-sf-download {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe836;&nbsp;');
}
.icon-sf-edit {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe837;&nbsp;');
}
.icon-sf-excel {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe838;&nbsp;');
}
.icon-sf-file {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe839;&nbsp;');
}
.icon-sf-full-screen-01 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83a;&nbsp;');
}
.icon-sf-alarm {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83b;&nbsp;');
}
.icon-sf-home {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83c;&nbsp;');
}
.icon-sf-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83d;&nbsp;');
}
.icon-sf-left {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83e;&nbsp;');
}
.icon-sf-right {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83f;&nbsp;');
}
.icon-sf-up {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe840;&nbsp;');
}
.icon-sf-mail {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe841;&nbsp;');
}
.icon-sf-menu-01 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe842;&nbsp;');
}
.icon-sf-new {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe843;&nbsp;');
}
.icon-sf-menu-02 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe844;&nbsp;');
}
.icon-sf-full-screen-02 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe845;&nbsp;');
}
.icon-sf-radio-button-off {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe848;&nbsp;');
}
.icon-sf-radio-button-on {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe849;&nbsp;');
}
.icon-sf-refresh {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84a;&nbsp;');
}
.icon-sf-round-check-off {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84b;&nbsp;');
}
.icon-sf-round-check-on {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84c;&nbsp;');
}
.icon-sf-sorting {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84e;&nbsp;');
}
.icon-sf-sorting-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84f;&nbsp;');
}
.icon-sf-sliders {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe850;&nbsp;');
}
.icon-sf-sorting-up {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe851;&nbsp;');
}
.icon-sf-square-check-off {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe852;&nbsp;');
}
.icon-sf-square-check-on-fill {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe853;&nbsp;');
}
.icon-sf-square-check-on {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe854;&nbsp;');
}
.icon-sf-square-bottom-thin {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe855;&nbsp;');
}
.icon-sf-option {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe856;&nbsp;');
}
.icon-sf-square-left {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe857;&nbsp;');
}
.icon-sf-square-plus {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe858;&nbsp;');
}
.icon-sf-square-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe859;&nbsp;');
}
.icon-sf-square-right-thin {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85a;&nbsp;');
}
.icon-sf-square-right {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85b;&nbsp;');
}
.icon-sf-square-up-thin {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85c;&nbsp;');
}
.icon-sf-square-up {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85d;&nbsp;');
}
.icon-sf-star {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85e;&nbsp;');
}
.icon-sf-sub-menu-off {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85f;&nbsp;');
}
.icon-sf-sub-menu-on {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe860;&nbsp;');
}
.icon-sf-overallstatus-02 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe861;&nbsp;');
}
.icon-sf-upload {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe862;&nbsp;');
}
.icon-sf-user-search {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe863;&nbsp;');
}
.icon-sf-overallstatus-03 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe864;&nbsp;');
}
.icon-sf-overallstatus-04 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe865;&nbsp;');
}
.icon-sf-overallstatus-05 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe866;&nbsp;');
}
.icon-sf-overallstatus-06 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe867;&nbsp;');
}
.icon-sf-overallstatus-07 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe868;&nbsp;');
}
.icon-sf-overallstatus-08 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe869;&nbsp;');
}
.icon-sf-overallstatus-09 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe86a;&nbsp;');
}
.icon-sf-calendar {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe86b;&nbsp;');
}
.icon-sf-pen {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe86c;&nbsp;');
}
.icon-sf-menu-equipment {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe86d;&nbsp;');
}
.icon-sf-menu-production {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe86e;&nbsp;');
}
.icon-sf-menu-progress {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe86f;&nbsp;');
}
.icon-sf-menu-quality-1 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe870;&nbsp;');
}
.icon-sf-menu-status {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe871;&nbsp;');
}
.icon-sf-menu-common-1 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe873;&nbsp;');
}
.icon-sf-filter {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe874;&nbsp;');
}
.icon-sf-filter-close {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe875;&nbsp;');
}
.icon-sf-flag {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe876;&nbsp;');
}
.icon-sf-table-option {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe877;&nbsp;');
}
.icon-sf-clip {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe878;&nbsp;');
}
.icon-sf-export {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe879;&nbsp;');
}
.icon-sf-overallstatus-01 {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe87a;&nbsp;');
}
.icon-sf-error {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe87b;&nbsp;');
}
.icon-sf-arrangement-right {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe87c;&nbsp;');
}
.icon-sf-arrangement-to-back {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe87d;&nbsp;');
}
.icon-sf-arrangement-to-front {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe87e;&nbsp;');
}
.icon-sf-arrangement-top {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe87f;&nbsp;');
}
.icon-sf-arrangement-vertical {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe880;&nbsp;');
}
.icon-sf-arrangement-back {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe881;&nbsp;');
}
.icon-sf-arrangement-bottom {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe882;&nbsp;');
}
.icon-sf-arrangement-center {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe883;&nbsp;');
}
.icon-sf-arrangement-horizontal {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe884;&nbsp;');
}
.icon-sf-arrangement-front {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe885;&nbsp;');
}
.icon-sf-arrangement-left {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe886;&nbsp;');
}
.icon-sf-arrangement-middle {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe887;&nbsp;');
}
.icon-sf-search-off {
	*zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe888;&nbsp;');
}
